<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="card mt-4">
  <div class="card-header">
    Staff Record List
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table"
        *ngIf='staff.length > 0'
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let staffData of staff'>
            <td>{{staffData.name}}</td>
            <td>{{staffData.email}}</td>
            <td>{{staffData.phone}}</td>
            <td>{{staffData.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="lead" *ngIf="staff.length <=0">
      <h1 class="secondary">No Staff Record List</h1>
    </div>
  </div>
</div>
    </div>
    </div>
</div>
